@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.Container{  
    
    position: relative;
    
}

.Header{

    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
    z-index: 100;
    background-color: rgb(111,125,255);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(111,125,255);
   
    
}

.Left-part{
    display: flex;
    align-items: center;
    
}

.Invictus-Logo{
    height: 180px;
    width: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 8px 5px 10px;
    border-radius: 50px;
    object-fit: cover;  
}

.Invictus-Text{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: beige;
}

.Right-part{

    margin-right: 20px;
    padding: 10px 20px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    flex-shrink: 0;
}

.Right-part div{
    
    font-size: 20px;
    color: beige;
}

.FORMS{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute; 
    height: 600px;
    width: 380px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);   
    box-shadow: 8px 8px 5px  rgb(90, 106, 248); 
}

.LogIn{
    height: 50px;
    margin-top: -20px;
    display: flex;
    flex: 1;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.Invictus-Logo1{
    height: 200px;
    padding: 2px 4px 2px 4px;
    
}

.LogIn-text{

    
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(111,125,255);
    margin-top: 0;
}

.SignIn-text{
    
    font-size: 15px;
    letter-spacing: 1px;
}

.LogIn1{    
    display: flex;
    margin-top: 20px;
}

.Username,
.Password{
    height: 30px;
    width: 250px;
    padding: 8px 5px 5px 8px;
    border: none;
    border-radius: 10px;
}

.Username::placeholder,
.Password::placeholder{
    padding: 5px 8px 5px 10px;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: rgb(227, 240, 248);
}

.UserLogo{
    height: 25px;
    margin-right: 5px;
    opacity: 0.8;
}

.Buttons{
    margin-top: 10px;
    margin-left: 40px; 
    padding: 10px 10px 10px 10px;
}
.Login-button{
    background-color:rgb(111,125,255);
    width: 280px;
    padding: 8px 5px 10px 8px;
    border: none;
    color: beige;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.Forgot{
    background-color:rgb(255, 255, 255);
    width: 280px;
    border: none;
    margin-top: 45px;
    margin-bottom: 15px;
    padding: 10px 5px 10px 10px;
    color:rgb(20, 19, 19);
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    
}

.New{
    background-color:rgb(250, 250, 250);
    width: 280px;
    border: solid;
    border-width: thin;
    border-color: black;
    padding: 8px 5px 10px 8px;
    color:rgb(44, 44, 44);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    
}