@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #6F7DFF;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    
    --color-card1: #752092;
    --color-card2: #C957BC;
    --color-card3: #FFA10E;
    --color-card4: #9C89FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
}

body {
    background: linear-gradient(120deg, #6F7DFF, #FFF16F);
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
  width: 150px;
}

.screen-1 {
  margin-top: 120px;
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  /* box-shadow: 0 0 2em #e6e9f9; */
  width: 400px;
  gap: 2em;
}
.screen-1 .logo {
  margin-top: -3em;
}
.screen-1 .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .email input {
  outline: none;
  border: none;
}
.screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .password input {
  outline: none;
  border: none;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  justify-content: space-between;
  padding-bottom: 2em;
}
.screen-1 .footer a {
  color: #5e5e5e;
}
.screen-1 .footer span {
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.logbox .error{
  color: var(--color-dark);
}

button {
  cursor: pointer;
}